repos:
  -  repo: https://github.com/asottile/pyupgrade
     rev: v2.31.0
     hooks:
       -  id: pyupgrade
          args: ["--py37-plus"]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: ''
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-bugbear
          - flake8-builtins
          - flake8-coding
          # FIXME: causes too many errors
          # - flake8-commas
          - flake8-comprehensions
          - flake8-eradicate
          # FIXME: causes too many errors
          # - flake8-quotes
          - flake8-tidy-imports
          - pep8-naming

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
