include LICENSE
include README.rst
recursive-include djangocms_text_ckeditor/locale *
recursive-include djangocms_text_ckeditor/static *
recursive-include djangocms_text_ckeditor/templates *
recursive-include private/moono-lisa/dev *.png
recursive-include private/moono-lisa/dev *.svg
recursive-include private/moono-lisa/dev *.json
recursive-include private/moono-lisa/images/hidpi *.png
recursive-include private/moono-lisa/iamges *.gif
recursive-include private/moono-lisa/images *.png
recursive-include private/moono-lisa *.css
recursive-include private/moono-lisa *.js
recursive-include private/moono-lisa *.md
recursive-include private *.md
recursive-include private *.py
recursive-include tests .eslintrc
recursive-include tests *.html
recursive-include tests *.js
recursive-include tests *.py
recursive-include tests *.txt
recursive-exclude * *.py[co]
