djangocms-helper>=1.1.0
django-filer>=1.3.0
djangocms-picture>=2.0.6
djangocms-link>=2.1.2

Pillow
html5lib>=0.999999999

tox>=2.9.1
coverage>=4.4.2
flake8>=3.0.4

# In order to run skipped tests uncomment the next lines:
# -e git+ssh://git@github.com/divio/djangocms-transfer.git@master#egg=djangocms-transfer
# -e git+ssh://git@github.com/divio/djangocms-translations.git@master#egg=djangocms-translations
