coverage
django-app-helper
django-filer>=1.4.0
django-polymorphic>=2.0.3
djangocms-link>=2.2.1
djangocms-picture>=2.1.0
html5lib>=0.999999999
Pillow
tox

https://github.com/django-cms/django-cms/tarball/release/4.0.1.x#egg=django-cms

# IMPORTANT: latest easy-thumbnails causes error since it returns with floating point, but the tests are not prepared for this and even the lib
easy-thumbnails

# In order to run skipped tests uncomment the next lines:
# -e git+ssh://git@github.com/divio/djangocms-transfer.git@master#egg=djangocms-transfer
# -e git+ssh://git@github.com/divio/djangocms-translations.git@master#egg=djangocms-translations
